.post {
    width: 100%;
    max-width: 600px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid lightgray;
}

.post__avatar {
    margin-right: 10px;
}

.post__img {
    width: 100%;
    object-fit: contain;
}

.post__text {
    border-top: 1px solid lightgray;
    font-weight: normal;
    padding: 16px;
}

.post__comments {
    font-weight: normal;
    padding: 16px;
}

.post__comment {
    display: flex;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.post__button {
    flex: 0;
    border: none;
    color: #0095f6;
    background-color: transparent;
}

.post__input {
    flex: 1;
    border: none;
    background-color: #fafafa;
    outline: none;
}