* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    background-color: #fafafa;
}

.app__header {
    padding: 10px 20px;
    background-color: #fff;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
}

.app__post {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.app__post--right {
    margin-left: 30px;
}

.app__header--img {
    object-fit: contain;
}

.app__signup {
    display: flex;
    flex-direction: column;
}