* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    background-color: #fafafa;
}

.app__header {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: #fff;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.app__post {
    padding-top: 40px;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}

.app__header--img {
    object-fit: contain;
}

.app__signup {
    display: flex;
    flex-direction: column;
}